body {
  min-height: 100vh;
  background-color: fff;
  color: #212121;
  margin: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

/* .photo-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
} */

img {
  padding: 0;
  margin: 0;
  list-style: none;
  /* width: calc(100vw - 80px); */
  width: 600px;
  height: 400px;
  margin-left: auto;
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.modal {
  padding: 1.8rem 2.16rem 0.9rem;
  width: 550px;
  max-width: 1300px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}
